{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DashBoard</title>
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "fonts/fontawesome-all.min.css" %}>
    <link rel="stylesheet" href={% static "css/Search-Input-responsive.css" %}>
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href={% static "css/tableRow.compiled.css" %}>
    <link rel="stylesheet" href={% static "css/treeView.css" %}>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <form method="POST" action="{% url 'previous_page' %}">
                    {% csrf_token %}
                    <button class="btn btn-dark" type="submit" id="back" style="height: 39px;margin-bottom: -5%;">Back</button>
                </form>
            </div>
            <div class="col-auto" style="width: auto;">
                <form method="POST">
                    {% csrf_token %}
                    <input class="form-control float-start float-sm-end custom-search-input" type="text" name="projeto_id" id="projeto_id" placeholder="gitlab ID" style="margin-top: -5px;margin-bottom: -13px;margin-right: -11px;">
                    <button class="btn btn-primary" type="submit" style="background: rgba(13,110,253,0);border-width: 0px;margin-left: -18px;padding-left: 0px;margin-top: -12%;margin-right: 0px;"><i class="fas fa-search float-start search-icon" style="transform: perspective(0px) translate(15px);margin-right: 0px;margin-top: 0px;color: rgb(0,0,0);background: #ffffff;margin-left: -40%;padding: 0px;"></i></button>
                </form>
            </div>
            <div class="col-auto">
                <p style="margin-top: 15px;color: var(--bs-red);font-weight: bold;"></p>
            </div>
        </div>
    </div>
    <div class="container" style="width: 90%;padding-top: 50px;border-radius: 0px;">
        <div class="row" style="margin: 0px;padding: 0px;transform: translate(0px);">
            <div class="col align-self-start">
                <form>
                    <div class="table-responsive text-start" id="table" style="width: auto;padding: -5px;min-width: 0px;margin-right: 0px;">
                        <table class="table table-sm table-bordered">
                            <thead style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding: 0px;">
                                <tr>
                                    <th>{{ file_name }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><textarea class="form-control" style="height: 456px;" readonly>{{ file_content }}</textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/switch-tree-normal.js" %}"></script>
    <script src="{% static "js/treeView.js" %}"></script>
</body>

</html>