{% extends "web_app/vista_agrupar.html" %}

{% block groupby %}
    <form method="POST">
        {% csrf_token %}
        {% if category == "" %}
            {% for category, file in files.items %}
                <tr>                                        
                    <td><button class="btn btn-sm" type="submit" id="category" name="category" value="{{ category }}" style="padding-left: 0px;font-size: 16px;"><i class="fa fa-folder" style="font-size: 20px;padding-right: 10px;"></i>{{ category }}</button></td>                                     
                </tr>
            {% endfor %}
        {% else %}
            {% for file in files %}
                <tr>
                    <td><button class="btn btn-sm" type="button" style="padding-left: 0px;font-size: 16px;"><i class="fa fa-folder" style="font-size: 20px;padding-right: 10px;"></i>{{ file }}</button></td>
                </tr>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}