{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">
    var difference;

    function button_lock( lock_flag ){
        if (lock_flag === 'true'){
            back_button.disabled = false;
        }else{
            back_button.disabled = true;
        }
    }
</script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DashBoard</title>
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "fonts/fontawesome-all.min.css" %}>
    <link rel="stylesheet" href={% static "fonts/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "fonts/fontawesome5-overrides.min.css" %}>
    <link rel="stylesheet" href={% static "css/Search-Input-responsive.css" %}>
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href={% static "css/tableRow.compiled.css" %}>
    <link rel="stylesheet" href={% static "css/treeView.css" %}>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <form method="POST" action="{% url 'previous_page' %}">
                    {% csrf_token %}
                    <button class="btn btn-dark" type="submit" id="back" style="height: 39px;margin-bottom: -5%;">Back</button>
                </form>
            </div>
            <script type="text/javascript">
                const back_button = document.getElementById("back");
            </script>
            <script type="text/javascript">
                button_lock('{{ back|check_button }}')
            </script>
            <div class="col-auto" style="width: auto;">
                <form method="POST">
                    {% csrf_token %}
                    <input class="form-control float-start float-sm-end custom-search-input" type="text" name="projeto_id" id="projeto_id" placeholder="gitlab ID" style="margin-top: -5px;margin-bottom: -13px;margin-right: -11px;">
                    <button class="btn btn-primary" type="submit" style="background: rgba(13,110,253,0);border-width: 0px;margin-left: -18px;padding-left: 0px;margin-top: -12%;margin-right: 0px;"><i class="fas fa-search float-start search-icon" style="transform: perspective(0px) translate(15px);margin-right: 0px;margin-top: 0px;color: rgb(0,0,0);background: #ffffff;margin-left: -40%;padding: 0px;"></i></button>
                </form>
            </div>
            <div class="col-auto">
                <p style="margin-top: 15px;color: var(--bs-red);font-weight: bold;">{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="container" style="width: 90%;padding-top: 50px;border-radius: 0px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <form method="POST", action="{% url 'tree' projeto_id=projeto_id %}">
                    {% csrf_token %}
                    <button class="btn btn-dark" type="submit" style="margin-left: 10px;border-style: none;border-radius: 10px;background: rgb(0,0,0);color: rgb(255,255,255);padding-top: 0px;padding-right: 8px;padding-bottom: 0px;padding-left: 8px;margin-bottom: 5px;">Show Tree</button>
                </form>
            </div>
            <div class="col-auto">
                <form method="post">
                    {% csrf_token %}
                    <div class="dropdown"><button class="btn btn-dark dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: rgb(0,0,0);border-style: none;border-radius: 10px;margin: 0px 0px 5px 10px;padding: 0px 8px;">Group by&nbsp;</button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" id="agrupar" name="agrupar" type="submit" value="categoria" href="#">Categoria</button>
                            <button class="dropdown-item" id="switch-btn-1" name="agrupar" type="submit" value="churn" href="#">&nbsp;Churn</button>
                            <button class="dropdown-item" id="switch-btn-1" name="agrupar" type="submit" value="autor" href="#">Autor</button>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                function refresh_variable( date_string ){
                    var date = parseFloat(date_string);
                    var now = Date.now();
                    console.log(Math.floor((now - date)/1000/60));
                    document.getElementById("refresh_value").innerHTML =  Math.floor((now - date)/1000/60).toString().concat(" minutos");
                    setInterval(refresh_variable, 60000, date_string);
                }
            </script>
            <div class="col" style="margin-right: 0px;margin-left: 56%;">
                <em style="width: auto;margin-left: 0px;">Última atualização: <em id = "refresh_value"></em></em>
            </div>
            <script>
                refresh_variable( "{{ date|js_datetime }}" );
            </script>
        </div>
        <div class="row" style="margin: 0px;padding: 0px;transform: translate(0px);">
            <div class="col align-self-start">
                <form method="POST">
                    {% csrf_token %}
                    <div class="table-responsive text-start" id="table" style="width: auto;padding: -5px;min-width: 0px;margin-right: 0px;">
                        <table class="table table-sm table-bordered">
                            <thead style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding: 0px;">
                                <tr>
                                    <th>Repositório</th>
                                    <th style="margin-right: 0px;width: 10%;">Categoria</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for directory in directories %}
                                <tr>
                                    <td>
                                        <button class="btn btn-sm" type="submit" id="directory" name="directory" value="{{ directory.directory }}" v style="padding-left: 0px;font-size: 16px;">
                                            {% if directory.churn < 0.33 %}
                                                <i class="fa fa-folder" style="font-size: 20px;padding-right: 10px;color: rgb(0, 255, 0);"></i>
                                            {% elif directory.churn > 0.66 %}
                                                <i class="fa fa-folder" style="font-size: 20px;padding-right: 10px;color: rgb(255, 0, 0);"></i>
                                            {% else %}
                                                <i class="fa fa-folder" style="font-size: 20px;padding-right: 10px;color: rgb(255, 255, 0);"></i>
                                            {% endif %}
                                            {{ directory.directory }}
                                        </button>
                                    </td>
                                    <td><span>{{ directory.category }}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="col-auto col-xl-4 offset-xl-0 me-auto" style="transform: translate(0px);margin-bottom: 10px;margin-right: -20%;">
                <div class="table-responsive text-start scrollable" style="width: auto;padding: -5px;min-width: 0px;">
                    <table class="table table-sm table-bordered">
                        <thead style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding: 0px;">
                            <tr>
                                <th>Timeline eventos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commit in timeline_commits %}
                                <tr>
                                    <td>{{commit.title}} </td>
                                    <td>{{commit.committer_name}}</td>
                                    <td>{{commit.committer_date}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/switch-tree-normal.js" %}"></script>
    <script src="{% static "js/treeView.js" %}"></script>
</body>

</html>
